
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.main-container {
  display: flex;
  margin: 0em;
  flex-wrap: wrap;
}

.text-align-center {
  text-align: center;
}

.category-container { 
  background-color: #48a8e46b;
  flex: 1 0 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-container div {
  height: 10vmin;
  min-width: 20vmax;
  width: 100%;
  text-align: center;
  margin: 2vmin auto;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}

.category-container div button {
  min-width: 20vmax;
  margin: 1vmin auto;
  padding: 1vmin;
}

.btn {
  border: none;
  border-radius: 5px;
}

.pink-btn {
  font-size: calc(16px + 1vmin);
  background-color: #f8697e;
  color: #fff;
}

.dark-pink-btn {
  font-size: calc(16px + 1vmin);
  background-color: #d73d63;
  color: #fff;
}

.content-container {
  background-color: #f3f3f3;
  flex: 75%; 
  height: 100vh; 
}


.details-container > * {
  margin: 2% 3%;
}

.details-grid-container {
  width: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid #3f3f3f;
  max-height: 45vh;
  overflow-y: scroll;
}

.column-name {
  font-size: 1.3em;
  top: 0;
  position: sticky;
  opacity: 1;
  background-color: #fff;
}

.details-grid-container > * {
  border: 1px solid #3f3f3f;
  padding: 3% 2%;
  font-size: calc(14px + 1vmin);
}

.action-container a {
  margin: auto;
  padding: 1% 5%;
  text-decoration: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
}

.delete {
  background-color: #1aa3ff;
  color: #1732a5;
}

.delete:hover {
  background-color: #008ae6;	
  cursor: pointer;
}

.add-new-btn-container {
  text-align: right;
}

.add-emp-btn {
  background-color: #f8697e;
  color: #fff;	
  position: relative;
  padding: 1vmin 2vmin;
  font-size: calc(14px + 1vmin);
}


.form-container {
  width: 70vmin;
  position: relative;
  padding: 1vmin;
  background-color: #3f3f3f31;
  border-radius: 5px;
}

.form { 
  width: 100%; 
  padding: 1vmin 2vmin; 
} 

.form-container h3 {
  width: 100%;
  padding: 1vmin 2vmin;
  font-size: calc(16px + 1vmin);
}

.form .form-inner-content {
  display: flex;
  flex-direction: row;
  margin: 2vmin auto;
  font-size: calc(16px + 1vmin);
}
 
.form div input {
  width: 75%;
  margin: auto;
  font-size: calc(14px + 1vmin);
}

.form-label {
  min-width: 25%;
  text-align: left;
}

.form div:last-child {
  text-align: right;
}

.form-btn {
  background-color: #4db8ff;
  color: #fff;
  font-size: calc(14px + 1vmin);
  padding: 1vmin 2vmin;
}

.form-btn:hover {
  background-color: #008ae6;	
}

.details-container:not(:first-child) {
  display: none;
}